[Unit]
Description=Video Downloader API Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/video-downloader
ExecStart=/root/.pyenv/shims/python3 app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
